Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  misc-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  portability-*,
  -altera-*,
  -fuchsia-*,
  -google-*,
  -llvm-*,
  -llvmlibc-*,
  -zircon-*,
  -android-*,
  -boost-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-*,
  -cppcoreguidelines-pro-type-*,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-virtual-class-destructor,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-redundant-access-specifiers,
  -readability-redundant-parentheses,
  -readability-simplify-boolean-expr,
  -readability-uppercase-literal-suffix,
  -misc-no-recursion,
  -misc-include-cleaner,
  -misc-confusable-identifiers,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -modernize-use-trailing-return-type,
  -modernize-use-designated-initializers,
  -modernize-use-ranges,
  -modernize-use-constraints,
  -modernize-use-std-numbers,
  -modernize-use-nodiscard,
  -modernize-concat-nested-namespaces,
  -modernize-type-traits,
  -portability-template-virtual-member-function,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -concurrency-mt-unsafe,
  -performance-enum-size,

CheckOptions:
  - key: hicpp-special-member-functions.AllowSoleDefaultDtor
    value: 1

WarningsAsErrors: '*'

HeaderFilterRegex: 'include/neotape/.*\.(hpp|h)$'
